---
layout: slide
---
{{{ slide.content }}}  
<div class='left1' style='float:left;width:{{{ slide.w1 }}};height:{{{ slide.h1 }}}'>
 {{{ slide.left1.html }}}
</div>
<div class='right1' style='float:right;width:{{{ slide.w2 }}};height:{{{ slide.h1 }}}'>
 {{{ slide.right1.html }}}
</div>
<div class='left2' style='float:left;width:{{{ slide.w1 }}};height:{{{ slide.h2 }}}'>
 {{{ slide.left2.html }}}
</div>
<div class='right2' style='float:right;width:{{{ slide.w2 }}};height:{{{ slide.h2 }}}'>
 {{{ slide.right2.html }}}
</div>
<div class='left3' style='float:left;width:{{{ slide.w1 }}};height:{{{ slide.h3 }}}'>
 {{{ slide.left3.html }}}
</div>
<div class='right3' style='float:right;width:{{{ slide.w2 }}};height:{{{ slide.h3 }}}'>
 {{{ slide.right3.html }}}
</div>
